/* index html */
h1, h2{
	font-weight: bold;
	color: black;
	text-align: center;
	font-size: 250px;
	font-style: italic;
	/* background-color: #00e6e6; //blue */
	margin-left: -50px;
	margin-right: -50px;
}
.screen {
	background: #00e6e6;
	text-align: center;
	height: 364px;
	position: fixed;
	top: 0;
	left: auto;
	width: 1118px;
}

h3 {
	font-size: 100px;
	font-style: oblique;
	text-align: center;
	background-color: #fffffc;
}
h4 {
	font-style: italic;
	font-size: 180px;
	text-align: center;
}
h5 {
	font-style: italic;
	font-size: 70px;
	text-align: center;
	left: -100px;
	right: -100px;
	display: inline-block;
}
img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	max-width: 100%;
	max-height: auto;
}

/* img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} */
#work, #Hobbies  {
	background-color: #fffffc;
	padding:0;
  margin:0;
	text-align: center;
}
.first {
  position: relative; /* define context for absolutly positioned children */
  /* size set by image in this case */
  background-color: white;
  display: inline-block;
}

.first img {
  display: block;
}

.first:after {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0);

  transition: 1s;
}

.first:hover:after {
  background: rgba(0,0,0,.5);
}

.first:hover .message {
  opacity: 2;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 5; /* only works when position is defined
  /* think of a stack of paper... this element is now 5 higher than the bottom */

  color: white;

  opacity: 0;
  transition: 1s;
}




#main {
	background-image: url(../images/beach.JPG);
	background-repeat: no-repeat;
	background-color: #fffffc;
	width: auto;
	height: auto;
}
#introduction {
	font-style: normal;
	text-align: left;
	/* font-size: 15px; */
}

ul {
	text-align: center;
	list-style-position: inside;
}
html {
	background-color: #f3f3f3;;

	/* background-color: #22757d; dark blue/green
	#fffff0 is ivory*/
}
body {
	background-color:#fffffc;
}
header {
	display: block;
	text-align: right;
	height: 80px;
	background-color:  #fffffc;
	/* background-color: #fffff0; */
}

footer {
	text-align: center;
	display: block;
	background-color: #fffffc;
}

input[type=submit] {
	background-color: black;
	color: white;
}

form, p{
	text-align: center;
}


@font-face {
	font-family: Pure_Seduction;
	src: url(/Pure_Seduction_-_Demo.ttf);
}
