<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../style/css/master.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>

  <title>Rachel Kim <img id = "logo" src="../images/logo.png" alt="logo"/></title>

  <style type="text/css">

    .picture{
      position:absolute;
      top:10%;
      left:0%;
      padding-left: 24px;
      margin-top:21.44px;
    }

    .message{
      position:absolute;
      top:10%;
      left:50%;
      padding:0;
    }

    .projects {
      margin: 20px;
      position:absolute;
    }
    

    
  </style>

</head>
  <body>
  <div class= "container">
    <nav>
      <input type ="checkbox" id = "nav" class="hidden">
      <label for="nav" class="nav-btn">
        <i></i>
        <i></i>
        <i></i>
      </label>
      <div class="logo">
        <a href = "../index.html"> Rachel </a>
      </div>
      <div class= "nav-wrapper">
        <ul>
          <li><a href = "../index.html" class="link">Home</a></li>
          <li><a href = "../templates/projects.html" class="link">Projects</a></li>
          <li><a href = "../templates/about.html" class="link">About Me </a></li> 
        </ul>
    </nav>
  </div>
 
  <div class="container1">
    <div class="picture" style="min-width: 40vw; max-width:45vw;">
      <div class="first project" style="width:100%">
        <img id="me" src="../images/me.jpeg" style="min-width: 30vw; height:400px"/>
        <div class="description">
          <span>
            <!-- GithubLink -->
             <button style="font-size:24px" onclick ="javascript:document.location='https://github.com/rkim08?tab=repositories'"><i class='fab fa-github'></i></button>
             <button style="font-size:24px" onclick ="javascript:document.location='https://www.linkedin.com/in/rachel-kim-7863b7158/'"><i class='fab fa-linkedin' style="color:#0077B5"></i></button>
           </span>

        </div>
      </div>
      
      <h4>Contact</h4>
      <p>Interested in learning more about my projects? Have any comments?</p>
      <p>Feel free to shoot me a message at <strong>rkim08@berkeley.edu</strong></p>
    </div>
  </div>
    <div class="message" style="min-width: 40%; max-width:45vw;">
      <h1>Simple. Minimal. Modern.  </h1>
      <p>Hello! My name is Rachel Kim. I am currently working on updating this website with new information as it a bit outdated.   </p>
      <p>To prevent any disruptions, the new revision of this website is being worked upon in a different environment. For more information
        please visit <a href="https://codepen.io/rachelk1308/pen/ExGxzGa?editors=0110">New Website</a> </p>
            
      <h1>About Me  </h1>
      <p>I graduated from UC Berkeley with a major in Cognitive Science and an emphasis in Computational Modeling/Computer Science.   </p>
      <p>I’ve developed a mastery in languages like Python, Java, HTML, CSS, Javascript, and Scratch. Aside from these languages, I have experience working with numerous others which include, but aren’t limited to, Django, Dark Sky, and Bootstrap. </p>
      <p>I am currently working at a startup company located in Silicon Valley.</p>
      <h4>Recent Project</h4>
      <p>The most recent project I worked on was an application called Life as Someone Else (LAS). LAS is a platform that allows for professionals to provide realistic daily details of their work life by writing in diary entries. Students or nonworking individuals will be able to view these entries and gain a more personal perspective of the job. This project was created from scratch and utilized HTML, CSS, Javascript, and Django.</p>
      <p>Check out the home page for more information on the projects that I worked on throughout the years!</p>
      <h3>Skills</h3>
      <p>What are some skills that I know? I also know how to code in 
        <li>Python </li>
        <li>Java </li>
        <li>HTML/CSS/Javascript</li>
        <li>Scratch</li>
        <li>APEX</li>
        <li>LWC</li>

      </p>
      <p>But it doesn't end there! I have experience working with numerous other APIs in order to create a working application.</p>
      <h4>Hobbies</h4>
      <p>During my free time, some of the things I enjoy to do include playing squash, cooking, watching movies, editing, and taking pictures! </p>
    </div>
