<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- <link rel="stylesheet" href="../style/css/style.css"/> -->
		<link rel="stylesheet" href="../style/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


		<style type="text/css">
		h1, h3{
			text-align: center;
		}
		footer{
			text-align: right;
		}

		body {
	    background-image:url(images/bg2.jpg);
	    margin: 0;
	    width: 100&#37;;
	    height:100%;
	    }


	  html, body, .everything1{
			height: 100%;
  		margin: 0;
	  }
		.navi{
			margin: 0 auto;
        width: 100%;
		}
		.container{
			display: block;
			justify-content: center;
			text-align: center;
		}

	
		</style>

		<title> Summer Project </title>
  </head>
	<body>
		<div class="everything1">
			<div class="navi">
				<div class="container-fluid col-xs-12" >
				<nav class="navbar navbar-dark navbar-expand-lg">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
					<div class="collapse navbar-collapse" id="navbarToggler">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About Me</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Contact</a>
						</li>
					</ul>
					</div>
					</nav>
				</div>
			</div>
		<div class="container">
			<h1 style="color:red"> Error! </h1>
			<h3> Sorry but the content is private. To gain access for this specific
				project, please contact me! <br>
			Thank you! </h3>
		</div>
	</div>
	</body>
	</html>
