<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../style/css/master.css"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <title>Rachel Kim <img id = "logo" src="../images/logo.png" alt="logo"/></title>

  <style type="text/css">
    .projects {
      margin: 20px;
      position:absolute;
      /*transform: translate(-50%, -50%);*/
    }
    .first {
      margin:20px;
      top:50%;
      left:5%;
    }

    .project1{
      margin-top: 40px;
    }
  </style>

</head>
<body>
  <div class= "container">
    <nav>
      <input type ="checkbox" id = "nav" class="hidden">
      <label for="nav" class="nav-btn">
        <i></i>
        <i></i>
        <i></i>
      </label>
      <div class="logo">
        <a href = "../index.html"> Rachel </a>
      </div>
      <div class= "nav-wrapper">
        <ul>
          <li><a href = "../index.html">Home</a></li>
          <li><a href = "../templates/projects.html">Projects</a></li>
          <li><a href = "../templates/about.html">About Me </a></li> 
        </ul>
    </nav>
  </div>
  <div class="projects">
    <div class="first project1">
      <img id = "maps" src="../images/maps.jpg" alt="maps" style="width:80vw; height:300px"/>
        <div class= "description">
          <span> Bear Maps (Java) <br><br>
            Back end of a webserver that uses real world mapping by combining
            tile images and map features
          </span>
        </div>
    </div>



    <div class="first project2">
      <img id = "website" src="../images/website.jpg" alt="website" style="width:80vw;height:300px"/>
      <div class= "description">
        <span> Website <br><br>
          Created a website from scratch using HTML, CSS, Javascript
        </span>
      </div>
    </div>

    <div class="first project3">
      <img id = "lock" src="../images/lock.jpg" alt="lock" style="width:80vw; height:300px"/>
        <div class= "description">
          <span> Lock Manager (Java) <br><br>
            Created an API that processes objects sequentially in a database that follows the logic for table and page level locking
          </span>
        </div>
    </div>

     <div class="first project4">
        <img id = "ants" src="../images/ants.png" alt="ants" style="width:80vw; height:300px"/>
          <div class= "description">
            <span> Tower Defense game: Ants (Python) <br><br>
              Combines functional and object-oriented programming pardigms
            </span>
          </div>
    </div>

    <div class="first project5">
        <img id = "scheme" src="../images/scheme.png" alt="scheme" style="width:80vw; height:300px"/>
          <div class= "description">
            <span> Scheme (Python)<br> <br>
            Designed and developed an interpreter for Scheme language
            </span>
          </div>
    </div>

    <div class="first project6">
        <img id = "yelp" src="../images/yelp maps.png" alt="yelp" style="width:80vw; height:300px"/>
          <div class= "description">
            <span>Maps (Python) <br> <br>
            Finds the closest restuarants based on Yelp Database by using machine learning.
          </span>
          </div>
    </div>

    <div class="first project7">
        <img id = "hog" src="../images/hog.jpg" alt="hog" style="width:80vw; height:300px"/>
          <div class= "description">
            <span> Hog Dice Game in Python <br> <br>
            A stimulator that computes strategies for the dice game.
            </span>
          </div>
    </div>
  </div>
</body>
</html>
