<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../style/css/master.css"/>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
  <title>Rachel Kim <img id = "logo" src="../images/logo.png" alt="logo"/></title>

  <style type="text/css">
    .projects {
      margin: 20px;
      position:absolute;
      /*transform: translate(-50%, -50%);*/
    }
    .first {
      margin:20px;
      top:50%;
      left:5%;
    }

    .project1{
      margin-top: 40px;
    }

    body{
      min-width: 684px;
    }


  </style>

</head>
<body>
  <div class= "container">
    <nav>
      <input type ="checkbox" id = "nav" class="hidden">
      <label for="nav" class="nav-btn">
        <i></i>
        <i></i>
        <i></i>
      </label>
      <div class="logo">
        <a href = "../index.html"> Rachel </a>
      </div>
      <div class= "nav-wrapper">
        <ul>
          <li><a href = "../index.html" class="link">Home</a></li>
          <li><a href = "../templates/projects.html" class="link">Projects</a></li>
          <li><a href = "../templates/about.html" class="link">About Me </a></li> 
        </ul>
    </nav>
  </div>
  <div class="projects">
    <div class="first project1" style="width: 84vw; height:300px">
      <img id = "maps" src="../images/road.jpg" alt="maps" style="width:83vw; height:300px"/>
        <div class= "description" >
          <span> Life as Someone - LAS (Django, HTML, CSS, Javascript) 
            <ul>
              <li>Platform that provides a personal and realistic view of professional's life.</li>
              <li> Designed and constructed the website from ideation to implementation using Django as the primary backend server and HTML/CSS/Javscript for layout.
              </li>
            </ul> 
            
          </span>

        </div>
    </div>



    <div class="first project2" style="width: 50vw;height:300px">
      <img id = "website" src="../images/website.jpg" alt="website" style="width: 50vw;height:300px"/>
      <div class= "description">
        <span> Book Search Website (HTMl, API, CSS, Javascript) <br><br>
          Implemented a book search website powered by utilizing a Google Books API. 
        </span>
      </div>
    </div>

    <div class="first project3" style="width:30vw; height:300px">
      <img id = "lock" src="../images/lock.jpg" alt="lock" style="width:30vw; height:300px"/>
        <div class= "description">
          <span> Lock Manager (Java) <br><br>
            Created an API that processes objects sequentially in a database that follows the logic for table and page level locking as well as unlocking.
          </span>
        </div>
    </div>

     <div class="first project4" style="width: 20vw; height:300px">
        <img id = "ants" src="../images/ants.png" alt="ants" style="width:20vw; height:300px"/>
          <div class= "description">
            <span> Tower Defense game: Ants (Python) <br><br>
              Combines functional and object-oriented programming pardigms essential for understanding and implementing programs. 
            </span>
          </div>
    </div>

    <div class="first project5" style="width:60vw; height:300px">
        <img id = "scheme" src="../images/scheme.png" alt="scheme" style="width:60vw; height:300px"/>
          <div class= "description">
            <span> Scheme (Python)<br> <br>
            Designed and developed an interpreter for Scheme language primarily based on the Python language. 
            </span>
          </div>
    </div>

    <div class="first project6" style="width:40vw; height:300px">
      <img id = "maps" src="../images/maps.jpg" alt="maps" style="width:40vw; height:300px"/>
        <div class= "description">
          <span> Bear Maps (Java) 
            <ul>
              <li> Back end of a webserver that uses real world mapping by combining
              tile images and map features. </li>
              <li> Implemented a web API that parses through the URL and the parameters in order to generate the output via JSON.</li>
          </ul>
          </span>
        </div>
    </div>

    <div class="first project7" style="width:40vw; height:300px">
        <img id = "yelp" src="../images/yelp maps.png" alt="yelp" style="width:40vw; height:300px"/>
          <div class= "description">
            <span>Maps (Python)
              <ul>
                <li>Finds the closest restuarants based on Yelp Database through the implementation of machine learning. </li>
                <li>Visualization (primarily through color) provides a predicted rating of the closest restaurant based on the given data. </li>
              </ul>
          </span>
          </div>
    </div>

    <div class="first project8" style="width:83vw; height:300px">
        <img id = "hog" src="../images/hog.jpg" alt="hog" style="width:84vw; height:300px"/>
          <div class= "description">
            <span> Hog Dice Game in Python <br> 
            A stimulator that computes strategies for the dice game where the objective is to be the first player to obtain 100 points. 
            </span>
          </div>
    </div>
  </div>
</body>
</html>
