
.row {
  margin-bottom: 20px;
}
#navbar {
  margin: 0px;
  padding: 0px;
  width: 100%;
  color:black;
  
}

.navi{
  background-color:black;
  color:black;
}

.navi a {
	float: right;
	color: black;
	text-align: center;
	padding: 20px 15px;
	font-size: 15px;
}

.navi #logo {
  float: left;
  margin-left: 3%;
  background-color: black;
  font-size: 15px;
  width: 200px;
}

.navi a:hover {
	background-color: #42A5F4;
  height: 100%:
  color:black;
}

.navi a.active {
	background-color: #42A5F4;
  height: 100%;
  color:black;
}


.everything{
  height: 100%;
  background-color: #F7F7F7;
}

/* message for pictures */
.first {
  position: relative; /* define context for absolutly positioned children */
  /* size set by image in this case */
  background-color: white;
  display: inline-block;
}

.first img {
  display: block;
}

.first:after {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0);

  transition: 1s;
}

.first:hover:after {
  background: rgba(0,0,0,.5);
}

.first:hover .message {
  opacity: 2;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 5; /* only works when position is defined
  /* think of a stack of paper... this element is now 5 higher than the bottom */

  color: white;

  opacity: 0;
  transition: 1s;
}

#Hobbies{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

#header{
	float:right;
}
#welcome{
	text-align:center;
	vertical-align: middle;
	font-weight: bold;
	color: black;
	text-align: center;
	font-size: 150px;
	font-style: italic;
}

#frame{
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 80px;
}
p1 {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 40px;
}
